{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if utilisateur_commande.role == 'CREATOR' %}
            <p>Merci {{ utilisateur_commande.username }} (Créateur) pour votre commande!</p>
            {% elif utilisateur_commande.role == 'SUBSCRIBER' %}
                <p>Merci {{ utilisateur_commande.username }} (Abonné) pour votre commande!</p>
            {% else %}
                <p>Merci {{ utilisateur_commande.username }} pour votre commande!</p>
            {% endif %}
        </div>
    </div>

    <center><p class="text-black">Retour à la page <a href=" {% url 'home' %} "><span class="text-uppercase">d'accueil</span></a></p></center>
    
{% endblock %}