{% extends "base.html" %}


{% block content %}
    <style>
      .container{
        margin-bottom: 5%;
        margin-top: 3%;
      }
      .haut {
          margin: 5px;
          box-sizing: border-box;
          padding: 10px;
      }
  
      .card {
          display: flex;
          flex-direction: column;
          height: 70%;
          overflow: hidden;
          border-radius: 20px;
          margin: 10px;                                                               
          width: 100%;
          color: black;
      }
  
      .card-body {
          background-color: #222601;
          flex-grow: 1; /* Permet au contenu de la card-body de prendre toute la hauteur disponible */
          display: flex;
          flex-direction: column;
      }
  
      .card img {
          max-width: 100%;
          height: 50%;
          width: 100%;
      }
  
      .card-body {
          padding: 15px;
      }
  
      .card-title {
          font-size: 1.2rem;
          margin-bottom: 10px;
      }
  
      .card-text {
          font-size: 1rem;
          margin-bottom: 10px;
      }
  
      .card-text strong {
          font-weight: bold;
      }
  
      .ted_1 {
          width: 30%;
          background-color: #592202;
          color: wheat;
      }
      
      form .btn{
        display: inline;
        background-color: blue;
        border-radius: 15px;
      }
      .input-group{
        display: block;
        width: 20%;
        color: white;
      }
    
      .input-group input{
        border-radius: 20px;
      }
  </style>


    <h3>Votre Boutique en ligne</h3>
    <form method="GET">
        <div class="input-group float-center">
          <div class="form-outline">
            <input type="text" id="form1" name="search" class="form-control" value="{{search_term}}" placeholder="Rechercher un produit" />
          </div>
            <button class="btn btn-primary shadow-0" type="submit">Rechercher</button>
        </div>
      </form>

  <div class="container">
    <div class="row">
      {% for shop in page_obj %}
      <div class="col-md-3">
        <div class="card">
            <img src="{{shop.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="aa{{shop.id}}" class="card-title bg-white">{{shop.nom}}</div>
                <div id="price{{shop.id}}" class="card-title bg-white">{{shop.price}} GNF</div>
                <div class="btn">
                  <button id="{{shop.id}}" class="btn ted ">Ajouter au panier</button>
                  <button class="btn ted ted_1 btn-success"><a href="{% url 'view_shop' shop.id %}">Voir</a></button>
                </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <center>{% include 'partials/page_navigator.html' %}</center>
  </div>


{% endblock content %}


{% block js %}
  <script type="text/javascript">
    //pour affcher un test
    console.log('juste pour tester');

    //gérer le localStorage.getItem(variale local du javascrip) à l'aide d'une condition
    if(localStorage.getItem('panier') == null){
      var panier = {}; 
    }else{
      panier = JSON.parse(localStorage.getItem('panier'));
    }
    //Pour recupérer le click de l'utilisateur
    $(document).on('click', '.ted', function(){
      console.log('ajouter');

      //pour recupérer l'identifiant du produit cliquer par l'utilisateur
      var item_id = this.id.toString();
      console.log(item_id);
      // Ajouter le nombre de fois que l'utilisateur clique sur un produit
      if(panier[item_id] != undefined){
        quantite = panier[item_id][0] +1;
        panier[item_id][0] = quantite;
        panier[item_id][2] += parseFloat(document.getElementById("price"+item_id).innerHTML);
      }else{
        quantite = 1;
        prix = parseFloat(document.getElementById("price"+item_id).innerHTML);
        nom = document.getElementById("aa"+item_id).innerHTML;
        panier[item_id] = [quantite, nom, prix];
      }
      console.log(panier);
      //Pour enregistrer la variable panier en localStorage
      localStorage.setItem('panier', JSON.stringify(panier));
      //pour ajouter les cliques de l'utilisateur dans le panier
      document.getElementById("panier").innerHTML = "Panier("+ Object.keys(panier).length+ ")";
    });
    //Fonction qui affiche le titre dans le panier
    AfficherList(panier);
    //Fonction qui affiche les produits dans le panier
    function AfficherList(panier){
      var index = 1;
      var panierString = "";
      panierString += '<h5>Voici votre liste</h5>';
      for(var x in panier){
        panierString += index;
        panierString += document.getElementById("aa"+x ).innerHTML +" Quantité: " + panier[x][0] + "<br>";
        index +=1;
      }
      panierString += "<a href='{% url 'checkout' %}' class='btn btn-primary'>Checkout</a>";
      $('[data-toggle="popover"]').popover();
      document.getElementById('panier').setAttribute('data-content', panierString);
    }
  </script>
{% endblock js %}